<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Listing Users</h1>

<br>
<span class="btn">
<%= link_to "New User", new_user_path, remote:true %>
</span> 

<table cellpadding="0">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Thumbnail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="users">
      <%= render @users %>
  </tbody>
</table>

<div id="user-form" style="display:none;"></div> 
