<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<span class="btn">
    <%= link_to "New bug", new_bug_path, remote:true  %>
</span>

<h1>Bugs</h1>
<div class="bug_table">
    <div class="bug_row">
        <div class="bug_titlecolumn bug_column">Title</div>
        <div class="bug_issuetypecolumn bug_column">Issue type</div>
        <div class="bug_prioritycolumn bug_column"> Priority</div>
        <div class="bug_statuscolumn bug_column"> Status</div>
        <div class="bug_actioncolumn bug_column"></div>
        <div class="bug_actioncolumn bug_column"></div>
        <div class="bug_actioncolumn bug_column"></div>
    </div>
    <div class="bug_table" id="bugs">
        <%= render @bugs %>
    </div>
 <br/>
</div>

<div id="bug-form" style="display:none;"></div> 